<eula ng-show="haveFoodController.user.$isLoaded && !haveFoodController.user.hasAgreed"></eula>
<div class="row" ng-show="haveFoodController.user.$isLoaded && haveFoodController.user.hasAgreed">
	<div class="col-lg-6">
		<container>
			<heading>Your listings</heading>
			You currently don't have anything shared.
		</container>
	</div>
	<div class="col-lg-6">
		<container>
			<heading>Share your stuff</heading>
			<div class="form-group">
				<label class="control-label">What do you have</label>
				<input class="form-control" ng-model="haveFoodController.foodItem.name" placeholder="Eggs, Zuchini, Lettuce, etc." type="text">
			</div>
			<div class="form-group">
				<label class="control-label">How many/much?</label>
				<input class="form-control" ng-model="haveFoodController.foodItem.quantity" placeholder="2 dozen, 1 bushel, etc." type="text">
			</div>
			<button class="less-bright">Add</button>
		</container>
	</div>
</div>